.login-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 360px;
  gap: 8px;
}

.login-form > label {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form > label > input {
  height: 40px;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}

.submit {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  margin-top: 8px;
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}
